.container {
    height: 100vh;
    background-color: white;
}
.btn{
    height: 40px;
    margin-left:10px;
}
.nav-item{
    background-color: rgb(241, 240, 240);
    margin-left: 15px;
    border-radius: 10px;
}
.nav-item:hover{
    background-color: rgb(223, 221, 221);
}