<h1 class="t-center">MODIFIER UN ARTICLE</h1>
<hr class="hr" />
<div class="center">
    <div class="form-outline mb-4">
      <label class="form-label" for="id-title">Titre</label>
      <input type="text" id="id-title" class="form-control form-control-lg" [(ngModel)]="name" disabled/>
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="id-text" >Texte</label>
      <input type="text" id="id-text" class="form-control form-control-lg" [(ngModel)]="text" />
    </div>
    <div class="form-outline mb-4">
      <label class="form-label" for="id-autor">Auteur</label>
      <input type="text" id="id-autor" class="form-control form-control-lg" [(ngModel)]="autor" />
    </div>
    <button type="button" class="btn btn-secondary">
      <a class="back" [routerLink]="['/']">Retour</a>
    </button>
    <button type="button" class="btn btn-primary" (click)="save()">
      Enregistrer
    </button>
</div>


