.t-center {
    text-align: center;
}

.center {
    margin: auto;
    width: 50%;
}

button.btn-primary{
    float:right;
}

button.btn-secondary{
    float:left;
}
a.back{
    color:white;
    text-decoration: none;
}

h1 {
    margin-top: 50px;
}

.hr {
    margin-top:30px;
    margin-bottom:30px;
}